.name-attribute {
  font-weight: bold;
  padding: 5px 20px 3px 0px;
  display: flex;
}
.label-class-perms{
  margin: 0 0 0 10px;
}
.label-class-perms label{
    width:90px;
    margin: 0 auto;
    color: #8f9196;
}
.hidden {
  display: none;
}

/*.name-attribute input{
   border: solid 0.08333333333333333rem rgb(165, 167, 171);
}

.name-attribute label{
  padding: 10px 30px 5px 5px;
}*/

.PageHeaderSearchArrow {
 float: right ;
 width: 3%;
 height: 100%;
 border: 1px solid 0.08333333333333333rem rgb(165, 167, 171);
 background-position: bottom 4px left 4px;
 background-size: 1.2em;
 cursor: pointer;
 position: relative;
 left: 0;
 z-index: 1;
 background-image: url('./icons/down-arrow1.svg');
}
.PageHeaderSearchBox {
  border: solid 0.08333333333333333rem rgb(165, 167, 171);;
  /*display: block;*/
  width: 95%;
  height: 100%;
  display: flex;


}
.Search_text_box {
  float: left;
  height: 100%;
  padding-left: 5px;
  border: none;
  color: grey;
}

.search_icon {
  width: 5%;
  background-image: url('./icons/search.svg');
  background-position: bottom 4px left 4px;
  background-size: 1.2em;
  border: solid 0.08333333333333333rem rgb(165, 167, 171);
  cursor: pointer;
}

.ver-box{

  width: 45%;
  /*display: inline-flex;*/
}

.space-bar{

}

.hor-box{

}

.div-label{
  display: inline-flex;
  margin: 0 0 10px 0;
}

.label-class{
  margin: 0 20px 20px 10px;
}

.label-class label {
  width:60px;
  margin: 0 auto;
  color: #8f9196;

}
.input-class{
  width: 239px;
  margin: 0 20px 20px 10px;
  color: grey;

}
.input-class select{
  width: 239px;
  margin:0 auto;
  border: 1px solid #8f9196;
  background: transparent;
  height: 30px;
}

.input-class input{
  height: 30px;

}
.label-class-right{
  width: 70px;
  margin: 0 0 30px 10px;
}
.input-class-right{
  width: 150px;
  margin: 0 0 10px 0px;

}

.input-class-right select{
  width: 150px;
  margin:0 auto;
  border: 1px solid #8f9196;
  background: transparent;
  height: 30px;
}

.input-class-right input{
  display: inline-flex;
  width: 70px;
  height: 30px;
  margin: 8px 5px 0 0;
}

.ver-space-bar {
  border-left: 1px solid #424242;
  margin: 0 20px 0 0;
}
.input-class-right label{
  /*display: inline-flex;*/
  /*display: none;*/
}
.submit{
  margin: 0 0 0 10px;
}
.submit button{
  position: relative;
  padding: 0 1.5rem;
  margin: 0px;
  line-height: 1.2rem;
  color: #d88733;
  border: 2px solid;
  border-radius: 0.6666666666666666rem;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  text-transform: uppercase;
  letter-spacing: 0.03333333333333333em;
  font-size: 0.8rem;


}

.label-class-checkbox label{
  margin: 0 auto;
  color: #8f9196;

}

.input-class-checkbox input{
    width: 15px;
    margin: 0 15px 10px 5px;
    height: 25px
}
.label-class-checkbox{

}
.file-size-wrapper{
  width: 259px;
  margin: 0 0 10px 10px;
  display: inline-flex;
  color: grey;
}

.file-size{
  width: 45%;
  margin: 0 5px 0 0;
}

.file-size input{
    margin: 0px;
    height: 25px;
}

.date-picker{
  display: flex;
}

.input-class-fullbox{
  width: 957px;
  margin: 0 0 20px 10px;
  color: grey;

}
.input-class-fullbox input{
  height: 30px;
  /*color: 'grey'*/

}
.submission{
  display: inline-flex;
  margin: 0 0 0 700px;
}
.reset{
  margin: 0 0 0 140px;
}
.reset button{
  position: relative;
  padding: 0 1.5rem;
  margin: 0px;
  line-height: 1.2rem;
  color: #d88733;
  border: 2px solid;
  border-radius: 0.6666666666666666rem;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  text-transform: uppercase;
  letter-spacing: 0.03333333333333333em;
  font-size: 0.8rem;


}
