html {
  box-sizing: border-box;
}
.manage_account{
  max-width: 600px;
  height:270px;
  margin-left: 35px;
  margin-top: 50px;
  background-color: #4642424d;
  letter-spacing: 1.2px;
  border-radius: 15px;
}
.account_details_wrapper {
    padding: 32px 32px 16px 32px;
    font-size: 15px;
    line-height: 1.5em;

}
.border {
  border-bottom: 2px solid rgb(65, 68, 76);
  padding-bottom: 7px;
  letter-spacing: 0px;
  color: white
}

.right_align {
  float: right;
}

.account_info {
  margin-top:7px;
  letter-spacing: 0px;
  color: white
}

.create-form_manageAccount {
  padding: 60px;
  /*color: grey*/
}
label + input.manageAccount_email_input{
  width: 300px;
  height: 25px;
  padding:16px;
  border-radius:4px;
}
